
<h2>
    @ViewBag.Message
    <paper-ripple>
    </paper-ripple>
</h2>

<div class="jumbotron">
<p>Look at all the cool elements.</p>

    <paper-button id="toast-button" onclick="displayToast('hello-toast')">Toast Anyone?</paper-button>

    <paper-toast id="hello-toast" text="Hello I'm Toast!"></paper-toast>
</div>

<script>
    function displayToast(toastID) {
        var toast = document.getElementById(toastID);

        toast.show();
    }
</script>
