@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Google Maps</h1>

    <!-- Use element -->
    <style>
        google-map {
            height: 600px;
        }
    </style>
    <google-map latitude="41.2780" longitude="-81.3287" zoom="18" maptype="satellite">
        <google-map-marker latitude="41.278" longitude="-81.328"
                           draggable="false" title="HELLO DANNER!"></google-map-marker>
    </google-map>
</div>